CONFIG_AUDIT=y
CONFIG_AUDITSYSCALL=y
CONFIG_SECURITY_NETWORK=y
# audit might depend on APPARMOR so enable it; but keep DAC as default
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_DAC=y
# next one is for ARM only but won't hurt for other platforms
CONFIG_HAVE_ARCH_AUDITSYSCALL=y
