[Unit]
Description=iot identity precondition
Before=aziot-identityd.service aziot-edged.service aziot-keyd.service aziot-certd.service

[Service]
Type=exec
ExecStart=@@AZIOTCLI@@ config apply
Restart=on-failure
RestartSec=60
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
