[Unit]
Description=iot identity precondition
Before=aziot-identityd.service \
    aziot-edged.service \
    aziot-keyd.service \
    aziot-certd.service \
    aziot-tpmd.service

[Service]
Type=oneshot
ExecStart=@@AZIOTCLI@@ config apply
Restart=on-failure
RestartSec=5
RemainAfterExit=true

[Install]
WantedBy=basic.target
