[Unit]
Description=Device Update Agent daemon.
After=network-online.target deliveryoptimization-agent.service systemd-tmpfiles-setup.service aziot-identityd.service time-sync.target
Wants=network-online.target deliveryoptimization-agent.service aziot-identityd.service

ConditionPathExists=!/run/omnect-device-service/omnect_validate_update

StartLimitBurst=10
StartLimitIntervalSec=120

[Service]
Type=notify

Restart=always
RestartSec=5

User=adu
Group=adu

ExecStartPre=-/usr/bin/AducIotAgent -l 2 --extension-type updateContentHandler --extension-id "microsoft/script:1"           --register-extension /usr/lib/adu/extensions/libmicrosoft_script_1.so
ExecStartPre=-/usr/bin/AducIotAgent -l 2 --extension-type updateContentHandler --extension-id "microsoft/steps:1"            --register-extension /usr/lib/adu/extensions/libmicrosoft_steps_1.so
ExecStartPre=-/usr/bin/AducIotAgent -l 2 --extension-type updateContentHandler --extension-id "microsoft/swupdate:2"         --register-extension /usr/lib/adu/extensions/libmicrosoft_swupdate_2.so
ExecStartPre=-/usr/bin/AducIotAgent -l 2 --extension-type updateContentHandler --extension-id "microsoft/update-manifest:5"  --register-extension /usr/lib/adu/extensions/libmicrosoft_steps_1.so
ExecStartPre=-/usr/bin/AducIotAgent -l 2 --extension-type updateContentHandler --extension-id "omnect/swupdate_consent:1"    --register-extension /usr/lib/adu/extensions/libomnect_swupdate_consent_1.so
ExecStartPre=-/usr/bin/AducIotAgent -l 2 --extension-type contentDownloader                                                  --register-extension /usr/lib/adu/extensions/libdeliveryoptimization_content_downloader.so
ExecStart=/usr/bin/AducIotAgent -l 0 -e

RuntimeDirectory=iot-hub-device-update
RuntimeDirectoryMode=700
RuntimeDirectoryPreserve=no

[Install]
WantedBy=multi-user.target
