#  SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Omnect WWAN service taking care of LTE modems
Wants=network.target
Requires=dev-cdc\x2dwdm0.device
After=systemd-networkd.service dev-cdc\x2dwdm0.device

[Service]
Type=exec
Restart=always
RestartSec=5
User=root

ExecStart=/usr/bin/modem-connect.sh

[Install]
WantedBy=network-online.target
