[Unit]
Before=local-fs.target
After=mnt-data.mount
RequiresMountsFor=/mnt/data

[Mount]
Where=/home
What=overlay
Type=overlay
Options=defaults,lowerdir=/home,upperdir=/mnt/data/home/upper,workdir=/mnt/data/home/work

[Install]
WantedBy=local-fs.target
