[Unit]
Description=first boot
ConditionFirstBoot=yes

# CAUTION!!!
# Do not add service order dependencies in this service file.
# ics_dm_first_boot.sh implicitly starts services and might cause a deadlock while starting services.

[Service]
Type=oneshot
ExecStart=/usr/bin/ics_dm_first_boot.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
