[Unit]
Description=omnect first boot
After=time-sync.target
Before=first-boot-complete.target
Wants=first-boot-complete.target
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/omnect_first_boot.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
