[Unit]
Before=local-fs.target
After=mnt-data.mount
RequiresMountsFor=/mnt/data

[Mount]
Where=/var/log/journal
What=/mnt/data/journal
Type=none
Options=bind
DirectoryMode=2750

[Install]
WantedBy=local-fs.target
