[Unit]
Description=do-client-lite: Performs content delivery optimization tasks
After=network-online.target

[Service]
Type=simple
Restart=on-failure
User=do
Group=do
ExecStart=/usr/bin/deliveryoptimization-agent

[Install]
WantedBy=multi-user.target
