[Unit]
Description=wifi-commissioning-gatt: commissioning wifi via bt
Requires=wpa_supplicant@%i.service bluetooth.service bluetooth.target
After=wpa_supplicant@%i.service bluetooth.service bluetooth.target

[Service]
Type=notify
Restart=on-failure
RestartSec=5

User=nobody
Group=wpa_supplicant

ExecStart=/bin/bash -c '/usr/bin/wifi-commissioning-gatt-service -i %i -d $(/usr/bin/ics_dm_get_deviceid.sh)'

[Install]
WantedBy=multi-user.target
